/* bepaal atributen legenda*/
.legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  width:20%;
  text-align:center;
  font-size:12px;
  font-weight: bold;
  font-family: sans-serif;
  color: black;
}

/*maak staaf blauw*/
.bar{
	fill: brown;
}
/* bij muis beweging roze*/
.bar:hover{
	fill: orangered;
}

/* maak assen zwart zonder fill*/
.as path,
.as line {
	stroke: black;
	fill: none;
}
/* zet svg in het midden scherm*/
#chart{
	margin-left: auto; 
	margin-right: auto; 
	display: block;
}
/* styleer label*/
.d3-tip {

  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 8px;
}

/* maak wijzer aan label*/
.d3-tip:after {
  
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* zorg dat wijzer onder label zit*/
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}